.red-margin {
    margin: 100px;
    display: flex;
    justify-content: center;
}
.red-square {
    background-color: red;
    width: 1000px;
    height: 1000px;
    border-radius: 20px;
    
}
.title {
    display: flex;
    justify-content: center;
    margin: 25px;
}
#title-text {
    color: white;
    font-family: cursive, sans-serif;
    font-size: 32px;
}
.whitespace {
    display: flex;
    justify-content: center;
}
#sketch {
    background-color: white;
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    flex-wrap: wrap;
}
.nobs {
    display: flex;
    justify-content: center;
    margin: 25px;
}
#l-nob, #r-nob {
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 25px;
}
#r-nob {
    margin-left: auto;
}
#l-nob {
    margin-right: auto;
}
.cuadro {
    background-color: white;
    width: 50px;
    height: 50px;
}
.box {
    width: 200px;
    height: 200px;
}

.active {
    background-color: grey;
}

.erase,.reset {
    background-color: red;
    color: white;
    font-family: cursive, sans-serif;
    width: 100px;
    height: 50px;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
