body {
    background-image: url("images/woodenbackground.png");
}
.red-margin {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.red-square {
    background-color: red;
    min-width: 600px;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.705), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}
.title {
    display: flex;
    justify-content: center;
    margin: 25px;
}
#title-text {
    color: white;
    font-family: cursive, sans-serif;
    font-size: 32px;
}
.whitespace {
    display: flex;
    justify-content: center;
}
#sketch {
    background-color: white;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-left: 25px;
    flex-wrap: wrap;
}
.nobs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;
}
#l-nob, #r-nob {
    height: 50px;
    width: 50px;
    background-color: lightgray;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#r-nob {
    margin-left: auto;
}
#l-nob {
    margin-right: auto;
}

.active {
    background-color: #808080;
}

.redraw,.clear,.grayscale,.rgb,.borrar,.reset {
    background-color: red;
    color: white;
    font-family: cursive, sans-serif;
    width: 100px;
    height: 30px;
    border-color: white;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.slider {
    background: red;
}
.align {
    width: 500px;
    height: 500px;
}
.selections {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: cursive, sans-serif;
}
img {
    width: 25px;
}
.slidecontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: cursive;
    color: white;
  }